<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.profitness" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="ProFitness"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        tools:targetApi="33" >
        <activity
            android:name=".Hips"
            android:exported="false" />
        <activity
            android:name=".Knees"
            android:exported="false" />
        <activity
            android:name=".Legs"
            android:exported="false" />
        <activity
            android:name=".Thigh"
            android:exported="false" />
        <activity
            android:name=".Shoulders"
            android:exported="false" />
        <activity
            android:name=".BackWorkouts"
            android:exported="false" />
        <activity
            android:name=".Hands"
            android:exported="false" />
        <activity
            android:name=".Forearms"
            android:exported="false" />
        <activity
            android:name=".Triceps"
            android:exported="false" />
        <activity
            android:name=".Biceps"
            android:exported="false" />
        <activity
            android:name=".Neck"
            android:exported="false" />
        <activity
            android:name=".Abs"
            android:exported="false" />
        <activity
            android:name=".Chest"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".Back"
            android:exported="true" />
        <activity
            android:name=".Lower"
            android:exported="true" />
        <activity
            android:name=".Upper"
            android:exported="true" />
        <activity
            android:name=".Arms"
            android:exported="true" />
    </application>

</manifest>